{% load static %}
{% load wagtailuserbar %}
<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block content %}{% endblock %}

    
    {% if not page.hide_footer %}
        {% include "includes/footer.html" %}
    {% endif %}

    {# Global javascript #}
    {% comment %} <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script> {% endcomment %}

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>