{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        MySite
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
      <base target="_blank" />
    {% endif %}
  </head>

  <body class="{% block body_class %}
      site-body
    {% endblock %}">
    {% wagtailuserbar %}

    {% include 'includes/header.html' %}

    <main class="page-wrapper">
      {% block content %}
      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% comment %} <script src="{% static 'js/mysite.js' %}"></script> {% endcomment %}
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
